h1 {
    background-color: #4aaaa5;
}







img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}


p {
    background-image: url("hotel-wallpaper.png");
}