body {
   margin: 40px 0px;
   padding: 0px;
   width: 960px;
   padding-left: 100px;
   border-color: #dddddd;
   background: url("../images/hotel-wallpaper.png");
}

.header {
    background-color: #ffffff;
    border-style: solid;
    border-bottom: solid;
    border-color: #cccccc;
    height: 70px;
}

#name {
    width: 285px;
    margin-top: 0px;
    background: 960px;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    padding: 17px;
    float: left;
}

a   {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    width: 10%;    
    padding: 20px;
    float: right;
    clear: inherit;
}

h2  {
    padding: 10px 0px;
    color: #4aaaa5;
    width: 20%;
    padding: 10px;
}

img {
    float: left;
    padding: 10px; 
    text-align: center;
    margin-left: 0px;
    clear: both;    
}

.main-content {
    box-sizing: border-box;
    width: 800px;
    margin: 20px 80px;
    padding: 10px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 12px;
    background-color: #ffffff;
    border-bottom: #777777;
    border: #dddddd;
}

#username {
    width: 930px;
    height: 10px;
    padding: 10px;
}

#email {
    margin: auto 0;
    width: 930px;
    height: 10px;
    padding: 10px;font-size: 12px;
}

#message {
    width: 930px;
    height: 100px;
    padding: 10px;
    font-size: 12px;
}

#submit {
    width: 10%;
    background-color: #4aaaa5;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    border-top: 8px solid; 
    color: #4aaaa5;
    margin: auto;
    padding: 0px; 
    background-color: #666666;
    text-align: center;
    text-decoration-color: white;  
    clear: both;
}