body {
   margin: 0px;
   padding: 0px;
   width: 960px;
   padding-left: 140px;
   background: url("../images/hotel-wallpaper.png");
}

#name {
    width: 300px;
    margin-top: 0px;
    background: 960px;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    padding: 18px;
    float: left;
}

a   {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    width: 10%;    
    padding: 20px;
    float: right;
    clear: inherit;
}

h2 {
    color: #4aaaa5;
    width: 20%;
    padding: 10px;
}

img {
    float: left;
    margin-left: 0px;
    display: block;
    padding: 0px 20px;  
    text-align: left;
    margin-left: 40px;
    overflow: auto;
}

.main-content {
    width: 960px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: left;
}

#message {
    width: 100%;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    border-top: 8px solid; 
    color: #4aaaa5;
    margin: auto;
    padding: 0px; 
    background-color: #666666;
    text-align: center;
    text-decoration-color: white;  
    clear: both;
}